<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>choferes</title>
    <link rel="webside icon" type="png" href="/static/imagen/favicon/favicon-32x32.png">
    <link href="/static/css/min.css" rel="stylesheet"> 
    <link href="/static/css/navbars.css" rel="stylesheet">   
    <!-- Custom styles for this template -->  
    <script src="/static/js/min.js"></script>
    <script src="/static/js/color-modes.js"></script> 
   <script src="/static/js/mostrar.js"></script>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
      </symbol>
    </svg>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
              id="bd-theme"
              type="button"
              aria-expanded="false"
              data-bs-toggle="dropdown"
              aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
            <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
            Light
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
            Dark
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
            <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
            Auto
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
      </ul>
    </div>
<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>About</h4>
          <p class="text-body-secondary">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Album</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<body> 
  <div class="album py-5 bg-body-tertiary">
    <div class="container">    
  <div class="container">
    <div class="publicidad">
      <img src="/static/imagen/barrio_seguro-intran.gif" alt="publicidad">
    </div>
    <section id="informacion">
      <fieldset class="info-parada">  
        {%for datos in informacion %}   
        <h1>INFORMACION DE LA PARADA</h1>  
        <ol>    
        <li>
        <label for="parada">Nombre:</label>
        <input type="text" value={{datos[1]}} id="parada" readonly>
        </li>
        <li>
        <label for="direccion">Direccion:</label>
        <input type="text" value={{datos[2]}} id="direccion" readonly>
        </li>
        <li>
        <label for="municipio">Municipio:</label>
        <input type="text" value={{datos[3]}} id="municipio" readonly>
        </li>
        <li>
        <label for="provincia">Provincia:</label>
        <input type="text" value={{datos[4]}} id="provincia" readonly>
        </li>
        <li>
        <label for="zona">Zona :</label>
        <input type="text" value={{datos[5]}} id="zona" readonly>
        </li>
        <li>
        <label for="aporte">Aporte :</label>
        <input type="text" value={{datos[6]}}RD$/{{datos[7]}} id="aporte" readonly>
        </li>
        
        <li>
        <label for="press">presidente:</label>
        <input type="text" value={{cabecera[1]}} id="press" readonly>
        </li>
        <li>
        <label for="veedor">Pte. Feder.:</label>
        <input type="text" value={{datos[10]}} id="veedor" readonly>
        </li>
        <li>
        <label for="miemb">Miembros:</label>
        <input type="text" value={{cabecera[0]}} id="miemb" readonly>
        </li>
        <li>
        <label for="geo">Geolocalizacion:</label>
        <input type="text" value={{datos[11]}} id="geo" readonly>
        </li>
        </ol>
        <button id="boton" onclick="mostrar()">Mostrar Imagen</button>
        {%endfor%}
        <div class="botonera">
        <div class="bt-regresar">
          <label for="regresar">
          <a href="#regresar">regreso</a> 
        </label>
        </div>
        </div>
        </fieldset>
    </section>
<section id="info-personal">
  <fieldset class="info-personal" id="info_personal">
    <h1>INFORMACION PERSONAL</h1>
    <p>Saludos Señor(a) {{nombre}} {{prestamo}}. 
    Por otro lado {{abonos}}.<br> de un total de{{pagos[0]}}.<br> 
    "Recuerde que esta parada es su fuente de vida cuidala"<br>
    <h3>Mensaje de la FEDERACION Y ACTEC</h3>
    </p>
    <input type="hidden" value={{pagos[1]}} id="pagos">
  </fieldset>
</section>
<fieldset class="datas">   
    <fieldset class="autorizacion" id="autorizacion" >  
    <section id="listado"> 
    <h1>Miembros Registrado</h1>
    <table>
           <tr>
              <th>Item</th>
              <th>Nombre del asociado</th>
              <th>Cedula</th>
              <th>Telefono</th>
              <th>Funcion</th>
           </tr>
           {% for usuario in miembros %}
           <tr>
              <td>{{usuario[0]}}</td>
              <td>{{usuario[1]}}</td>
              <td> Oculta </td>
              <td>{{usuario[3]}}</td>
              <td>{{usuario[4]}}</td>
           </tr>
           {%endfor%}
           </table>
               <div class="botonera">
               <div class="bt-regresar">
               <label for="regresar">
               <a href="#regresar">regreso</a> 
               </label>
               </div> 
               </div> 
      </section>
      <section id="finanzas">
           <h1>INFORMACION FINANCIERA</h1>
           <table>
           <tr>
              <th>Item</th>
              <th>Informacion financiera</th>
              <th>Total al momento</th>
           
           </tr>
           <tr>
            <tD>1</tD>
            <td>aporta de los asociados :</td>
            <td>{{diario[2]}}RD$</td>
         </tr>
         <tr>
            <tD>2</tD>
            <td>ingresos por otras actividades :</td>
            <td> {{diario[4]}}RD$</td>
         </tr>
         <tr>
          <tD>3</tD>
          <td>Prestamos a los asociados :</td>
          <td>{{diario[1]}}RD$</td>
        </tr>
         <tr>
            <tD>4</tD>
            <td> abonos a prestamos :</td>
            <td>{{diario[6]}}RD$</td>
         </tr>
         <tr>
            <tD>5</tD>
            <td>cuotas no pagadas :</td>
            <td>{{diario[5]}}RD$</td>
         </tr>
         <tr>
            <tD>6</tD>
            <td> gastos incurridos de parada :</td>
            <td>{{diario[3]}}RD$</td>
         </tr>
         <tr>
         <tD>7</tD>
          <td>Balance General:</td>
         <td>{{diario[0]}}RD$</td>
         </tr>
         <tr>
         <tD>8</tD>
            <td>balance bancario :</td>
         <td>{{diario[7]}}RD$</td>
         </tr>
           </table>
           <div class="botonera">
           <div class="bt-regresar">
           <label for="regresar">
              <a href="#regresar">regreso</a> 
           </label>
           </div>
           </div>
    </section>
    <section id="aportes">
    <h1>Historial de Aportes y Pendientes</h1>
    <table>
      <tr>
        <th> asociado</th>
        <th>cuotas</th>
        <th>pagadas</th>
        <th>Pendientes</th>
        <th>pagos(%)</th>
      </tr>             
      {% for usuario in cuotas_hist %}
      <tr>
        <td>{{usuario[0]}}</td>
        <td>{{usuario[3]}}</td>
        <td>{{usuario[1]}}</td>
        <td>{{usuario[2]}}</td>
        <td>{{usuario[4]}}%</td>
      </tr>  
      {%endfor%}             
      </table>
      <div class="botonera">
      <div class="bt-regresar">
      <label for="regresar">
          <a href="#regresar">regreso</a> 
      </label>
      </div>
      </div>    
      </section>
      <section id="otros"></section>
      <section id="galeria"></section>
      </section>
  </fieldset>
  <fieldset class="desautorizacion" id="desautorizacion">
    <h1>NO HAY INFORMACION PARA MOSTRAL</h1>
  </fieldset> 
  </fieldset> 
  <section id="video">
    <video class="video" id="mis-videos"  src="/static/imagen/video_publicidad.mp4" controls autoplay loop></video>
    </section>
    <a class = "btn btn-lg btn-primary"  href="{{url_for('canal')}}" type="html" role="button">Canal MotoBen &raquo;</a>
  </div>
  </body>
</html>
