<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>login</title>
  <link rel="webside icon" type="png" href="/static/imagen/favicon/favicon-32x32.png">
  <link href="/static/css/min.css" rel="stylesheet"> 
  <link href="/static/css/navbars.css" rel="stylesheet">   
  <!-- Custom styles for this template -->  
  <script src="/static/js/min.js"></script>
  <script src="/static/js/color-modes.js"></script> 
 <script src="/static/js/mostrar.js"></script>
</head>  
<body> 
  <div class="container p-3 my-5">   
  <div class="container p-3 publicidad">
    <img src="/static/imagen/barrio_seguro-intran.gif" alt="publicidad">
  </div>
  <div class="container p-3 login">
  <form  method='POST' action="/verificador">    
  <h1>GRUPO ACTEC MOTOBEN</h1> 
  <h2>Choferes</h2> 
  {% with messages = get_flashed_messages()%}
  {% if messages%}
  {% for message in messages%}
     <div class="msg">{{message}}</div>
  {%endfor%}
  {%endif%}
  {%endwith%} 
  <ol>
  <li>  
    <label for="cedula">Cedula</label>    
    <input type="text" name="cedula" id="cedula" placeholder="Cedula" required>       
  </li>
  <li>
  <button type="submit" >ENTRAR</button>
  </li>
  </ol>
  </form>
  </div> 
  </div>
</body>
</html>